# Backend Configuration
BACKEND_PORT=5000
NODE_ENV=development

# Database (MongoDB)
MONGO_URI=mongodb://localhost:27017/acadsoft

# JWT Secret
JWT_SECRET=8e118236-fd1d-4519-91d1-462809e39b7e

# API URLs
VITE_API_URL=http://localhost:5000/api
